@mixin respond-to($media) {
    @if $media == handhelds {
      @media only screen and (max-width: 425px) { @content; }
    }
    @else if $media == medium-screens {
      @media only screen and (min-width: 426px) { @content; }
    }
    @else if $media == wide-screens {
      @media only screen and (min-width: 1025px) { @content; }
    }
  }

body {
    background-color: whitesmoke;
    font-family: sans-serif;

    @include respond-to(handhelds) {
        margin: 0;
    }
}

.title {
    color: lighten($color: black, $amount: 20%);
    font-size: 1em;
    text-align: center;
    margin-top: 1em;

    & > .winner {
        transition: all 0.2s ease-in;
        transform: scale(1.1);
        font-weight: bold;
        text-decoration: underline;
    }

    @include respond-to(medium-screens) {
        font-size: 1.5em;
    }
}

.grid {
    padding: 0 15px;
    width: 100%;
    max-width: 895px;

    @include respond-to(handhelds) {
        padding: 0;
    }

    @include respond-to(medium-screens) {
        width: 80%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    @include respond-to(wide-screens) {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}

.grid-row {
    width: 80%;
}

$cell-height: 6em;

.cell {
    height: $cell-height;
    text-align: center;
    transition: all 0.4s ease-out;
    color: darken(blue, 15%);
    background-color: darken(blue, 15%);

    &[data-value='1'] {
        color: yellow;
        background-color: yellow;

        &::after {
            margin-top: 0;
            color: yellow;
            background-color: yellow;
        }
    }

    &[data-value='2'] {
        color: red;
        background-color: red;

        &::after {
            margin-top: 0;
            color: red;
            background-color: red;
        }
    }

    &::after {
        content: '';
        display: block;
        height: $cell-height * 0.30;
        position: relative;
        transition: all 0.4s ease-out;
        margin-top: -500px;
    }

    @include respond-to(handhelds) {
        height: $cell-height * 0.55;
    }
}
